body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    color: white;
    background-image: url("images/table.jpg");
    background-size: cover;
}

#title {
    color: goldenrod;
}


.btn {
    display: flex;
    margin: 20px auto;
    color: #016f32;
    background: goldenrod;
    padding: 5px 20px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}